# VESTIAIRE COLLECTIVE ANALYSIS: Part 1

### Importing Data and libraries

In [6]:
# Importing libraries
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [101]:
# Importing DATA and path
df = pd.read_csv('E:/vestiaire_data/vestiaire.csv', index_col = False)
path = r'C:/Users/Solving/Desktop/Nuria/Achivement 6'

### Consistency Checks

In [104]:
df.shape

(900514, 36)

In [106]:
df.head()

,product_id,product_type,product_name,product_description,product_keywords,product_gender_target,product_category,product_season,product_condition,product_like_count,...,warehouse_name,seller_id,seller_username,usually_ships_within,seller_country,seller_products_sold,seller_num_products_listed,seller_community_rank,seller_num_followers,seller_pass_rate
0,43247626,Wool mini skirt,Wool mini skirt Miu Miu Grey size S Internatio...,Miu Miu – Pleated mini skirt Size: 36 (S) Wai...,Miu Miu Wool Skirts,Women,Women Clothing,Autumn / Winter,Never worn,34.00,...,Tourcoing,25775970,vitalii25775970,NaN,Germany,3.00,14.00,0.00,13.00,0.00
1,43247441,Jacket,Jacket Barbara Bui Navy size 42 FR in Cotton,For selling nice women's suit Barbara Bui size...,Barbara Bui Cotton Jackets,Women,Women Clothing,All seasons,Very good condition,1.00,...,Tourcoing,13698770,olivia13698770,NaN,Belgium,0.00,0.00,0.00,8.00,0.00
2,43246517,Wool coat,Wool coat Comme Des Garcons White size S Inter...,Magnificent boiled wool coat. I bought it in t...,Comme Des Garcons Wool Coats,Women,Women Clothing,Autumn / Winter,Very good condition,2.00,...,Tourcoing,6042365,cecilia6042365,1-2 days,Spain,58.00,69.00,0.00,62.00,96.00
3,43246507,Mini skirt,Mini skirt MSGM Black size 38 IT in Polyester,MSGM Skirt Black Printed Raw-Edge & Embroidere...,MSGM Polyester Skirts,Women,Women Clothing,All seasons,Very good condition,0.00,...,Brooklyn,13172949,gretchen13172949,1-2 days,United States,63.00,274.00,126346.00,131.00,96.00
4,43246417,Vegan leather trousers,Vegan leather trousers LVIR Black size 36 FR i...,LVIR black grained faux leather trousers size ...,LVIR Vegan leather Trousers,Women,Women Clothing,All seasons,Very good condition,1.00,...,Crawley,2578605,crunchykat,3-5 days,United Kingdom,19.00,14.00,102821.00,40.00,89.00

In [108]:
df.dtypes

product_id                      int64
product_type                   object
product_name                   object
product_description            object
product_keywords               object
product_gender_target          object
product_category               object
product_season                 object
product_condition              object
product_like_count            float64
sold                             bool
reserved                         bool
available                        bool
in_stock                         bool
should_be_gone                   bool
brand_id                        int64
brand_name                     object
brand_url                      object
product_material               object
product_color                  object
price_usd                     float64
seller_price                  float64
seller_earning                float64
seller_badge                   object
has_cross_border_fees          object
buyers_fees                   float64
warehouse_name                 object
seller_id                       int64
seller_username                object
usually_ships_within           object
seller_country                 object
seller_products_sold          float64
seller_num_products_listed    float64
seller_community_rank         float64
seller_num_followers          float64
seller_pass_rate              float64
dtype: object

### Data Cleaning

#### Finding duplicates

In [112]:
df_dups = df[df.duplicated()]

In [113]:
df_dups

Empty DataFrame
Columns: [product_id, product_type, product_name, product_description, product_keywords, product_gender_target, product_category, product_season, product_condition, product_like_count, sold, reserved, available, in_stock, should_be_gone, brand_id, brand_name, brand_url, product_material, product_color, price_usd, seller_price, seller_earning, seller_badge, has_cross_border_fees, buyers_fees, warehouse_name, seller_id, seller_username, usually_ships_within, seller_country, seller_products_sold, seller_num_products_listed, seller_community_rank, seller_num_followers, seller_pass_rate]
Index: []

[0 rows x 36 columns]

#### Finding Nulls

In [115]:
df.isnull().sum()

product_id                         0
product_type                       0
product_name                       0
product_description                7
product_keywords                1183
product_gender_target              0
product_category                1183
product_season                     2
product_condition                  0
product_like_count                 0
sold                               0
reserved                           0
available                          0
in_stock                           0
should_be_gone                     0
brand_id                           0
brand_name                         0
brand_url                          0
product_material                   4
product_color                      1
price_usd                          0
seller_price                       0
seller_earning                     0
seller_badge                       0
has_cross_border_fees          13736
buyers_fees                    13736
warehouse_name                     0
seller_id                          0
seller_username                   39
usually_ships_within          154791
seller_country                     0
seller_products_sold               0
seller_num_products_listed         0
seller_community_rank              0
seller_num_followers               0
seller_pass_rate                   0
dtype: int64

Most of the missing values belong in the 'usually_ships_within' column. Values missing on columns 'product_keywords' and 'product_category' belong to the same rows. Same thing happens for missing values in 'has_cross_border_fees' and 'buyers_fees'.
All of these columns that have dtype 'object' will have the Nan values replaced with the column's mode, and if they have a numeric value, with the median.
The rest of the missing values will be dropped given that it is such a small number.

In [117]:
mode_usw = df['usually_ships_within'].mode()[0]
mode_product_keywords = df['product_keywords'].mode()[0]
mode_product_category = df['product_category'].mode()[0]
mode_hcbf = df['has_cross_border_fees'].mode()[0]
med_buyers_fees = df['buyers_fees'].median()

In [118]:
print(mode_usw)
print(mode_product_keywords)
print(mode_product_category)
print(mode_hcbf)
print(med_buyers_fees)

1-2 days
Gucci Plastic Sunglasses
Men Clothing
True
23.97

In [119]:
df['usually_ships_within'].fillna('1-2 days', inplace = True)
df['product_keywords'].fillna('Gucci Plastic Sunglasses', inplace = True)
df['product_category'].fillna('Men Clothing', inplace = True)
df['has_cross_border_fees'].fillna('True', inplace = True)
df['buyers_fees'].fillna(23.97, inplace = True)

C:\Users\solving\AppData\Local\Temp\ipykernel_14444\741671265.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['usually_ships_within'].fillna('1-2 days', inplace = True)
C:\Users\solving\AppData\Local\Temp\ipykernel_14444\741671265.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['product_keywords'].fillna('Gucci Plastic Sunglasses', inplace = True)
C:\Users\solving\AppData\Local\Temp\ipykernel_14444\741671265.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['product_category'].fillna('Men Clothing', inplace = True)
C:\Users\solving\AppData\Local\Temp\ipykernel_14444\741671265.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['has_cross_border_fees'].fillna('True', inplace = True)
C:\Users\solving\AppData\Local\Temp\ipykernel_14444\741671265.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['buyers_fees'].fillna(23.97, inplace = True)

In [126]:
df.dropna(inplace = True)

In [128]:
df.isnull().sum()

product_id                    0
product_type                  0
product_name                  0
product_description           0
product_keywords              0
product_gender_target         0
product_category              0
product_season                0
product_condition             0
product_like_count            0
sold                          0
reserved                      0
available                     0
in_stock                      0
should_be_gone                0
brand_id                      0
brand_name                    0
brand_url                     0
product_material              0
product_color                 0
price_usd                     0
seller_price                  0
seller_earning                0
seller_badge                  0
has_cross_border_fees         0
buyers_fees                   0
warehouse_name                0
seller_id                     0
seller_username               0
usually_ships_within          0
seller_country                0
seller_products_sold          0
seller_num_products_listed    0
seller_community_rank         0
seller_num_followers          0
seller_pass_rate              0
dtype: int64

In [130]:
df.shape

(900461, 36)

#### Checking for outliers

Some columns may have outliers that interfere with the analysis

In [134]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df.describe()

,product_id,product_like_count,brand_id,price_usd,seller_price,seller_earning,buyers_fees,seller_id,seller_products_sold,seller_num_products_listed,seller_community_rank,seller_num_followers,seller_pass_rate
count,900461.00,900461.00,900461.00,900461.00,900461.00,900461.00,900461.00,900461.00,900461.00,900461.00,900461.00,900461.00,900461.00
mean,38100433.77,6.30,2437.18,386.88,331.65,290.45,55.01,13822246.38,664.99,1497.74,56232.66,9905.20,72.46
std,7749079.75,12.92,3702.82,1859.61,1591.52,1498.20,288.07,7535729.98,3552.85,5460.32,143816.42,355759.07,34.43
min,111363.00,0.00,2.00,6.13,5.11,0.00,0.00,1.00,0.00,0.00,0.00,0.00,-180.00
25%,38116595.00,1.00,66.00,83.07,71.36,58.58,11.75,7977389.00,6.00,10.00,0.00,17.00,68.00
50%,41742211.00,3.00,341.00,168.70,143.78,125.46,23.97,14382173.00,34.00,52.00,0.00,73.00,88.00
75%,42677774.00,7.00,3266.00,350.00,298.20,261.90,49.88,19463134.00,178.00,373.00,25404.00,290.00,95.00
max,43248835.00,3154.00,18237.00,632610.00,527175.00,509229.75,105435.00,26081768.00,79738.00,39628.00,1064736.00,14179115.00,100.00

In [136]:
df[df['seller_products_sold'] > 3552]

,product_id,product_type,product_name,product_description,product_keywords,product_gender_target,product_category,product_season,product_condition,product_like_count,...,warehouse_name,seller_id,seller_username,usually_ships_within,seller_country,seller_products_sold,seller_num_products_listed,seller_community_rank,seller_num_followers,seller_pass_rate
44,43246035,Maxi dress,Maxi dress Essentiel Antwerp Brown size 36 FR ...,Very beautiful long leopard dress size 36 in v...,Essentiel Antwerp Polyester Dresses,Women,Women Clothing,All seasons,Very good condition,0.00,...,Tourcoing,592184,blanche73,1-2 days,France,4874.00,2983.00,55.00,5927.00,89.00
49,43244705,Silk blouse,Silk blouse Brunello Cucinelli Pink size M Int...,BRUNELLO CUCINELLI ❤ ❤ ❤ NEW never worn with o...,Brunello Cucinelli Silk Tops,Women,Women Clothing,All seasons,"Never worn, with tag",3.00,...,Tourcoing,4025011,mayer,1-2 days,Monaco,8712.00,1388.00,13.00,10940.00,90.00
50,43242785,Mid-length dress,Mid,beige cotton dress with brass applications siz...,Brunello Cucinelli Cotton Dresses,Women,Women Clothing,All seasons,"Never worn, with tag",4.00,...,Tourcoing,9564098,francesco9564098,1-2 days,Italy,6046.00,2783.00,27.00,3387.00,92.00
54,43246202,Mid-length dress,Mid,Very beautiful blue and white summer dress wit...,Ralph Lauren Denim & Supply Polyester Dresses,Women,Women Clothing,All seasons,Very good condition,1.00,...,Tourcoing,592184,blanche73,1-2 days,France,4874.00,2983.00,55.00,5927.00,89.00
104,43246939,Silk blouse,Silk blouse Anine Bing Black size S Internatio...,Size: S Style: Silk Blouse Material: Silk Prec...,Anine Bing Silk Tops,Women,Women Clothing,All seasons,Very good condition,0.00,...,Tourcoing,9071862,viteenvogue,3-5 days,Germany,38543.00,24889.00,2.00,29506.00,85.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900123,41542416,Leather ankle boots,Leather ankle boots Courrèges White size 39 EU...,39 Courrèges White Leather Ankle Boots,Courrèges Leather Ankle boots,Women,Women Shoes,All seasons,Good condition,8.00,...,Tourcoing,8103482,monogramparisofficiel,1-2 days,France,4016.00,3027.00,9.00,17303.00,51.00
900157,41542382,Leather ankle boots,Leather ankle boots Louis Vuitton Brown size 3...,Heeled ankle boots 36 Louis Vuitton Brown and ...,Louis Vuitton Leather Ankle boots,Women,Women Shoes,All seasons,Good condition,11.00,...,Tourcoing,8103482,monogramparisofficiel,1-2 days,France,4016.00,3027.00,9.00,17303.00,51.00
900230,41542763,Leather boots,Leather boots Khaite Black size 38 IT in Leather,Add elegant and sleek style to your wardrobe w...,Khaite Leather Boots,Women,Women Shoes,All seasons,Very good condition,8.00,...,Brooklyn,15886961,tributeus15886961,1-2 days,United States,4155.00,4812.00,1113.00,2074.00,87.00
900320,41535662,Boots,Boots Gucci Brown size 41 IT in Suede,"😍😍😍Gucci😍😍😍magnificent suede boots with GG, wo...",Gucci Suede Boots,Women,Women Shoes,All seasons,Never worn,14.00,...,Tourcoing,8054923,riglam,1-2 days,Italy,3994.00,1645.00,20.00,12933.00,94.00
900477,41531364,Leather sandals,Leather sandals Maje Black size 36 EU in Leather,Superb pumps. Black leather sandals with ankle...,Maje Leather Sandals,Women,Women Shoes,All seasons,Very good condition,0.00,...,Tourcoing,592184,blanche73,1-2 days,France,4877.00,2992.00,55.00,5930.00,89.00

#### Changing Data Types
I've noticed some columns contain dtype float64 but int64 is more suitable and will make further analysis easier.

In [149]:
df['product_like_count'] = df['product_like_count'].astype('int32')
df['seller_products_sold'] = df['seller_products_sold'].astype('int32')
df['seller_num_products_listed'] = df['seller_num_products_listed'].astype('int32')
df['seller_community_rank'] = df['seller_community_rank'].astype('int32')
df['seller_num_followers'] = df['seller_num_followers'].astype('int32')

In [151]:
df.head()

,product_id,product_type,product_name,product_description,product_keywords,product_gender_target,product_category,product_season,product_condition,product_like_count,...,warehouse_name,seller_id,seller_username,usually_ships_within,seller_country,seller_products_sold,seller_num_products_listed,seller_community_rank,seller_num_followers,seller_pass_rate
0,43247626,Wool mini skirt,Wool mini skirt Miu Miu Grey size S Internatio...,Miu Miu – Pleated mini skirt Size: 36 (S) Wai...,Miu Miu Wool Skirts,Women,Women Clothing,Autumn / Winter,Never worn,34,...,Tourcoing,25775970,vitalii25775970,1-2 days,Germany,3,14,0,13,0.00
1,43247441,Jacket,Jacket Barbara Bui Navy size 42 FR in Cotton,For selling nice women's suit Barbara Bui size...,Barbara Bui Cotton Jackets,Women,Women Clothing,All seasons,Very good condition,1,...,Tourcoing,13698770,olivia13698770,1-2 days,Belgium,0,0,0,8,0.00
2,43246517,Wool coat,Wool coat Comme Des Garcons White size S Inter...,Magnificent boiled wool coat. I bought it in t...,Comme Des Garcons Wool Coats,Women,Women Clothing,Autumn / Winter,Very good condition,2,...,Tourcoing,6042365,cecilia6042365,1-2 days,Spain,58,69,0,62,96.00
3,43246507,Mini skirt,Mini skirt MSGM Black size 38 IT in Polyester,MSGM Skirt Black Printed Raw-Edge & Embroidere...,MSGM Polyester Skirts,Women,Women Clothing,All seasons,Very good condition,0,...,Brooklyn,13172949,gretchen13172949,1-2 days,United States,63,274,126346,131,96.00
4,43246417,Vegan leather trousers,Vegan leather trousers LVIR Black size 36 FR i...,LVIR black grained faux leather trousers size ...,LVIR Vegan leather Trousers,Women,Women Clothing,All seasons,Very good condition,1,...,Crawley,2578605,crunchykat,3-5 days,United Kingdom,19,14,102821,40,89.00

### Exporting Clean Dataset

In [153]:
df.to_csv(os.path.join(path, 'Data', 'Prepared Data', 'vestiaire_clean.csv'))